<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vikings Characters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Vikings Characters</h1>
    <!-- Search and Has Photo Filter -->
    <form method="GET" action="{{ url_for('views.index') }}">
        <input type="text" name="search" placeholder="Search characters..." value="{{ request.args.get('search', '') }}">
        
        <label for="has_photo">Has photo?</label>
        <input type="checkbox" id="has_photo" name="has_photo" value="true" {% if request.args.get('has_photo') == 'true' %}checked{% endif %}>
        <button type="submit">Search</button>
        
    </form>
    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Actor</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for character in characters %}
            <tr>
                <td><a href="{{ url_for('views.character_page', id=character.id) }}"><img src="{{ character.photo_url }}" alt="{{ character.name }}"></a></td>
                <td><a href="{{ url_for('views.character_page', id=character.id) }}">{{ character.name }}</td>
                <td>{{ character.actor }}</td>
                <td>{{ character.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
